version: 2.1
orbs:
  ruby: circleci/ruby@1.1.3

jobs:
  test:
    parallelism: 3
    docker:
      - image: circleci/ruby:2.7.3
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD
      - image: circleci/postgres:12
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD
        environment:
          POSTGRES_USER: circleci-demo-ruby
          POSTGRES_DB: rails_blog_test
          POSTGRES_HOST_AUTH_METHOD: "trust"

    environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          ALLOWED_ORIGINS: '*'
          PGHOST: 127.0.0.1
          PGUSER: circleci-demo-ruby
          PGPASSWORD: ""
          RAILS_ENV: test

    steps:
      - checkout
      - ruby/install-deps
      - ruby/rubocop-check:
          format: progress
          label: Inspecting with Rubocop

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: sudo apt install -y postgresql-client || true

      - run:
          name: Database setup
          command: bundle exec rake db:create db:schema:load --trace

      - run:
          name: Run rspec
          command: |
            bundle exec rspec --profile 10 \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
workflows:
  run_tests:
    jobs:
      - test